<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  ******************************************************
  ~  Copyright VMware, Inc. 2010-2019.  All Rights Reserved.
  ~  ******************************************************
  ~
  ~ DISCLAIMER. THIS PROGRAM IS PROVIDED TO YOU "AS IS" WITHOUT
  ~ WARRANTIES OR CONDITIONS # OF ANY KIND, WHETHER ORAL OR WRITTEN,
  ~ EXPRESS OR IMPLIED. THE AUTHOR SPECIFICALLY # DISCLAIMS ANY IMPLIED
  ~ WARRANTIES OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY # QUALITY,
  ~ NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.
  ~
  -->

<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/hcisample.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5relative %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.vmware.sample.hci" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
